

<div class="container-fluid position-relative p-0">
  <div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
          <h1 class="display-3 text-white mb-3 animated slideInDown">Enjoy Your Camping With Us</h1>
          <p class="fs-4 text-white mb-4 animated slideInDown">Search for your missing item </p>
          <div class="position-relative w-75 mx-auto animated slideInDown">
            <input class="form-control border-0 rounded-pill w-100 py-3 ps-4 pe-5" type="text" placeholder="Eg: Tent">
            <button type="button" class="btn btn-primary rounded-pill py-2 px-4 position-absolute top-0 end-0 me-2" style="margin-top: 7px;">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<header>
  <h1><a href="index.html">Store</a></h1>
</header>
<nav>
  <ul>
    <li><a href="index.html" title="This is a pseudo link, it won't take you anywhere :)">Home</a></li>
    <li><a href="#" title="This is a pseudo link, it won't take you anywhere :)">Featured</a></li>
    <li><a href="#" title="This is a pseudo link, it won't take you anywhere :)">Women</a></li>
    <li><a href="#" title="This is a pseudo link, it won't take you anywhere :)">Men</a></li>
    <li><a href="#" title="This is a pseudo link, it won't take you anywhere :)">Kids</a></li>
    <li><a href="#" title="This is a pseudo link, it won't take you anywhere :)">More</a></li>

    <li class="nav-item">
      <a href="#" class="title">
        <i class="fas fa-shopping-cart"></i>
        <span class="position-relative">
          <span style="top:-10px;left:0px;" class="p  position-absolute badge badge-pill badge-danger">100</span>
        </span>
      </a>
    </li>
  </ul>
</nav>

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let p of productDetails">
      <div class="product-grid2">
        <div style="" class="product-image2">
          <a href="#" class="home-page-product-image">
            <div class="image-container">
              <a href="#">
            <img   class="pic-1" [src]="p.productImages[0].url">
            <img  class="pic-2" [src]="p.productImages[1].url">
              </a>
            </div>
          </a>
          <ul class="social">
            <li><a routerLink="/item" data-tip="Quick View" (click)="showProductDetails(p.idProduct)"><i class="fa fa-eye"></i></a></li>
            <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
          <a class="add-to-cart" href="">Add to cart</a>
        </div>
        <div class="product-content">
          <h3 class="title">{{p.name}}</h3>
          <span class="price">{{p.priceSale}} DT</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center mt-5 mb-5" *ngIf="showLoadButton">
  <button type="button" mat-raised-button color="accent" (click)="loadMoreProduct()" > Load more</button>
</div>
<hr>
